@model E_CommerceWebApp.ViewModel.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Shop in style</h1>
                <p class="lead fw-normal text-white-50 mb-0">With this shop hompeage template</p>
            </div>
        </div>
    </div>

    <!-- Section-->
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                @foreach (var product in Model.Products)
                {
                    <!-- Render the partial view for each product -->
                    @await Html.PartialAsync("_ProductPartial", product)
                    ;
                }
            </div>
        </div>
    </section>
</div>

@section Scripts{
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        // This script works when user click the add button on the product card to use ajax to send backend request
        console.log("Script loaded!");
        $(document).ready(function () {
            $(".buttonAddToCart").click(function (event) {
                console.log("Button clicked");
                var buttonAction = $(this).attr("formaction"); // Get the form action dynamically

                // Prevent default button behavior from changing the view
                event.preventDefault();
                // create ajax call
                $.ajax({
                    url: buttonAction,
                    type: "POST",
                    contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                    success: function (response) {
                        // Handle the success response
                        console.log(response);
                    },
                    error: function (error) {
                        // Handle the error response
                        console.error(error);
                    }
                });
            });
        });
    </script>
}