@model E_CommerceWebApp.ViewModel.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <!-- Main Banner -->
    <div class="bg-dark text-white m-1 py-5">
        <div class="container py-5">
            <h1>
                Best products & <br />
                brands in our store
            </h1>
            <p>Trendy Products, Factory Prices, Excellent Service</p>
            <button type="button" class="btn btn-outline-light">
                Learn more
            </button>
            <button type="button"
                    class="btn btn-light shadow-0 text-primary pt-2 border border-white">
                <span class="pt-1 text-dark mx-3">Purchase now</span>
            </button>
        </div>
    </div>
    <!--  Main Banner -->
    <!-- Section -->
    <section class="py-5">
        <div class="container px-4 px-lg-5 ">
            <header class="mb-4">
                <h3>New products</h3>
            </header>
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                @foreach (var product in Model.Products)
                {
                    <!-- Render the partial view for each product -->
                    @await Html.PartialAsync("_ProductPartial", product)
                    ;
                }
            </div>
        </div>
    </section>

    <!-- Features -->
    <section class="mt-5" style="background-color: #f5f5f5">
        <div class="container text-dark pt-3">
            <header class="pt-4 pb-3">
                <h3>Why choose us</h3>
            </header>
            <!-- row one -->
            <div class="row mb-4">
                <!-- item -->
                <div class="col-lg-4 col-md-6">
                    <figure class="d-flex align-items-center mb-4">
                        <span class="rounded-circle bg-white p-3 d-flex me-2 mb-2">
                            <i class="bi bi-camera fa-2x fa-fw text-dark floating"></i>
                        </span>
                        <figcaption class="info">
                            <h6 class="title">Reasonable prices</h6>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit sed
                                do eiusmor
                            </p>
                        </figcaption>
                    </figure>
                </div>
                <!-- item -->
                <div class="col-lg-4 col-md-6">
                    <figure class="d-flex align-items-center mb-4">
                        <span class="rounded-circle bg-white p-3 d-flex me-2 mb-2">
                            <i class="bi bi-moon-stars-fill fa-2x fa-fw text-dark floating"></i>
                        </span>
                        <figcaption class="info">
                            <h6 class="title">Best quality</h6>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit sed
                                do eiusmor
                            </p>
                        </figcaption>
                    </figure>
                </div>
                <!-- item -->
                <div class="col-lg-4 col-md-6">
                    <figure class="d-flex align-items-center mb-4">
                        <span class="rounded-circle bg-white p-3 d-flex me-2 mb-2">
                            <i class="bi bi-airplane fa-2x fa-fw text-dark floating"></i>
                        </span>
                        <figcaption class="info">
                            <h6 class="title">Worldwide shipping</h6>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit sed
                                do eiusmor
                            </p>
                        </figcaption>
                    </figure>
                </div>
                <!-- item -->
                <div class="col-lg-4 col-md-6">
                    <figure class="d-flex align-items-center mb-4">
                        <span class="rounded-circle bg-white p-3 d-flex me-2 mb-2">
                            <i class="bi bi-people-fill fa-2x fa-fw text-dark floating"></i>
                        </span>
                        <figcaption class="info">
                            <h6 class="title">Customer satisfaction</h6>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit sed
                                do eiusmor
                            </p>
                        </figcaption>
                    </figure>
                </div>
                <!-- item -->
                <div class="col-lg-4 col-md-6">
                    <figure class="d-flex align-items-center mb-4">
                        <span class="rounded-circle bg-white p-3 d-flex me-2 mb-2">
                            <i class="bi bi-hand-thumbs-up fa-2x fa-fw text-dark floating"></i>
                        </span>
                        <figcaption class="info">
                            <h6 class="title">Happy customers</h6>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit sed
                                do eiusmor
                            </p>
                        </figcaption>
                    </figure>
                </div>
                <!-- item -->
                <div class="col-lg-4 col-md-6">
                    <figure class="d-flex align-items-center mb-4">
                        <span class="rounded-circle bg-white p-3 d-flex me-2 mb-2">
                            <i class="bi bi-archive fa-2x fa-fw text-dark floating"></i>
                        </span>
                        <figcaption class="info">
                            <h6 class="title">Thousand items</h6>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit sed
                                do eiusmor
                            </p>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </section>
    <!-- Feature -->
    <img class="rounded w-100"
         src="https://dummyimage.com/100x100/dee2e6/6c757d.jpg"
         style="object-fit: cover"
         height="160" />
    <div class="mt-2 text-muted small d-block mb-1">
        <h6 class="text-dark">Stories</h6>
        <p>
            When you enter into any new area
        </p>
    </div>
</div>

<!--  final captions -->
<div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
        <article>
            <a href="#" class="img-fluid">
                <img class="rounded w-100"
                     src="https://dummyimage.com/100x100/dee2e6/6c757d.jpg"
                     style="object-fit: cover"
                     height="160" />
            </a>
            <div class="mt-2 text-muted small d-block mb-1">
                <span>
                    <i class="fa fa-calendar-alt fa-sm"></i>
                    03.09.2022
                </span>
                <a href="#"><h6 class="text-dark">Success story of sellers</h6></a>
                <p>
                    When you enter into any new area of science, you almost reach
                </p>
            </div>
        </article>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
        <article>
            <a href="#" class="img-fluid">
                <img class="rounded w-100"
                     src="https://dummyimage.com/100x100/dee2e6/6c757d.jpg"
                     style="object-fit: cover"
                     height="160" />
            </a>
            <div class="mt-2 text-muted small d-block mb-1">
                <span>
                    <i class="fa fa-calendar-alt fa-sm"></i>
                    03.09.2022
                </span>
                <a href="#"><h6 class="text-dark">Success story of sellers</h6></a>
                <p>
                    When you enter into any new area of science, you almost reach
                </p>
            </div>
        </article>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
        <article>
            <a href="#" class="img-fluid">
                <img class="rounded w-100"
                     src="https://dummyimage.com/100x100/dee2e6/6c757d.jpg"
                     style="object-fit: cover"
                     height="160" />
            </a>
            <div class="mt-2 text-muted small d-block mb-1">
                <span>
                    <i class="fa fa-calendar-alt fa-sm"></i>
                    03.09.2022
                </span>
                <a href="#"><h6 class="text-dark">Success story of sellers</h6></a>
                <p>
                    When you enter into any new area of science, you almost reach
                </p>
            </div>
        </article>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
        <article>
            <a href="#" class="img-fluid">
                <img class="rounded w-100"
                     src="https://dummyimage.com/100x100/dee2e6/6c757d.jpg"
                     style="object-fit: cover"
                     height="160" />
            </a>
            <div class="mt-2 text-muted small d-block mb-1">
                <span>
                    <i class="fa fa-calendar-alt fa-sm"></i>
                    03.09.2022
                </span>
                <a href="#"><h6 class="text-dark">Success story of sellers</h6></a>
                <p>
                    When you enter into any new area of science, you almost reach
                </p>
            </div>
        </article>
    </div>
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        // This script works when user click the add button on the product card to use ajax to send backend request
        console.log("Script loaded!");
        $(document).ready(function () {
            $(".buttonAddToCart").click(function (event) {
                console.log("Button clicked");
                var buttonAction = $(this).attr("formaction"); // Get the form action dynamically

                // Prevent default button behavior from changing the view
                event.preventDefault();
                // create ajax call
                $.ajax({
                    url: buttonAction,
                    type: "POST",
                    contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                    success: function (response) {
                        // Handle the success response
                        console.log(response);
                    },
                    error: function (error) {
                        // Handle the error response
                        console.error(error);
                    }
                });
            });
        });
    </script>
}